//? Vazir font
@font-face {
    font-family: "Vazir";
    src: url(../fonts/Vazir-Medium.eot) format("embeded-opentype") ,
    url(../fonts/Vazir-Medium.woff2) format("woff2"),
    url(../fonts/Vazir-Medium.woff) format("woff"),
    url(../fonts/Vazir-Medium.ttf) format("truetype");
    font-weight: 200;
}